spring:
 datasource:
  platform: postgres
  url: jdbc:postgresql://localhost:5432/postgres?currentSchema=library
  username: postgres
  password: postgres
  driverClassName: org.postgresql.Driver

#spring:
# datasource:
#  url: jdbc:h2:mem:testdb
#  initialization-mode: always
 jpa:
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  generate-ddl: false
  hibernate:
   ddl-auto: none
  properties:
   hibernate:
    temp.use_jdbc_metadata_defaults: false
  show-sql: true
logging:
 level:
  root: ERROR